@layer reset, init, design;

@import url(normalize.css) layer(reset);
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');


@layer init{
    :root{
        --primary: antiquewhite;
        --secondary: red;
    }
    html{
        font-family: "IM Fell English", serif;
        font-weight: 400;
        font-style: normal;
        scroll-behavior: smooth;
        overscroll-behavior: none;
    }
}

@layer design{
    .img-responsive{
        width: 100%;
        height: auto;
        display: block;
        margin : 0 auto;
    }
    .page{
        background-image: url(../images/velen.avif);
        background-position: center;
        text-align: center;
        min-height: 100vh; /* Fallback for mobile browsers, svh not suported on some. */
        min-height: 100svh;
        align-content: center;
    }
    .page__title{
        font-size: 2rem;
        color: black;
    }
    .page__text{
        font-size: 1.5rem;
        padding: 1rem;
        border-radius: 1rem;
        background-color: antiquewhite;
        margin: 0;
    }
    .text--intro{
        margin: 2rem 1rem;
    }
    .button{
        cursor: pointer;
        font-size: 1.5rem;
        border-radius: 50rem;
        padding: .5rem 1rem;
        margin: .5rem 1rem;
        width: 80%;
        background-color: #C89E75;
        border: 4px solid #7e6955;
    }
    .button:hover{
        background-color: var(--secondary, red);

    }
    .button a{
        text-decoration: none;
        font-weight: 600;
        color: black;
    }
    .button--intro{
        padding: 1rem 2rem;
        background-color: var(--secondary, red);
        width: auto;
    }
    .button--intro:hover{
        background-color: limegreen;
    }
    .button--intro a{
        font-weight: 700;
        text-decoration: underline;
    }
    .page__content{
        margin: 2rem;
    }
    .page__container{
        background-color: var(--primary, antiquewhite);
        border-radius: 2rem;
        overflow: hidden;
    }
    #randomNumberDisplay{
        font-size: 2rem;
        padding: 1.2rem;
        font-weight: 900;
        color: white;
        text-align: center;
    }
    @media screen and (min-width: 960px){
        .page__title{
            font-size: 3rem;
        }
        .page__content{
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        .content--intro{
            display: flex;
            flex-direction: column;
        }
        .button a{
            font-size: 1.8rem;
        }
        .page__container{
           flex-basis: 50%; 
        }
        .content--end{
            display: block;
            width: 60%;
            margin: 0 auto;
        }
    }
}