@layer reset, init, design;

@import url(normalize.css) layer(reset);
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');


@layer init{
    :root{
        --primary: antiquewhite;
        --secondary: red;
    }
    html{
        font-family: "IM Fell English", serif;
        font-weight: 400;
        font-style: normal;
        scroll-behavior: smooth;
        overscroll-behavior: none;
    }
}

@layer design{
    .img-responsive{
        width: 100%;
        height: auto;
        display: block;
        margin : 0 auto;
    }
    .page{
        background-image: url(../images/velen.avif);
        background-position:center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        min-height: 100vh; /* Fallback for mobile browsers, svh not suported on some. */
        min-height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .page__title{
        font-size: 2rem;
        padding: 1.2rem;
        color: black;
        text-align: center;
    }
    .page__content{
        height: 60%;
    }
    .page__text{
        font-size: 1.5rem;
        padding: 1.2rem;
        border-radius: 1rem;
        text-align: center;
        color: black;
        background-color: antiquewhite;
        margin: 0 1rem 2rem;
    }
    .text--game{
        background-color: transparent;
        margin: 0;
    }
    .button{
        padding: 1rem 2rem;
        border-radius: 50rem;
        background-color: var(--secondary, red);
        text-decoration: none;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .button a{
        color: black;
        font-weight: 700;
    }
    .button:hover{
        background-color: var(--secondary, red);

    }
    .button--game a{
        text-decoration: none;
        font-weight: 600;
    }
    .button--game{
        padding: .5rem 1rem;
        margin: .5rem 1rem;
        width: 80%;
        background-color: #C89E75;
        border: 4px solid #7e6955;
    }
    
    .page__container{
        background-color: var(--primary, antiquewhite);
        margin: 0 1rem;
        border-radius: 2rem;
        overflow: hidden;
    }
    #randomNumberDisplay{
        font-size: 2rem;
        padding: 1.2rem;
        font-weight: 900;
        color: white;
        text-align: center;
    }
    @media screen and (min-width: 960px){
        .page__title{
            font-size: 3rem;
        }
        .page__content{
            display: flex;
            align-items: center;
        }
        .content--start{
            flex-direction: column;
        }
        .button--game a{
            font-size: 1.8rem;
        }
        /* .button--game{
            width: 80%;
        } */
        .page__container{
            flex-basis: 60%
        }
        .container--end{
            margin: 0 auto;
        }
    }
}